# Copiar a .env

# Local:
DATABASE_URL=mysql+pymysql://root:tu_password@localhost:3306/composta_db
# AWS RDS (futuro): mysql+pymysql://admin:pass@xxxx.us-east-1.rds.amazonaws.com:3306/composta_db

JWT_SECRET=cambiar_por_una_cadena_larga_y_aleatoria
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

CORS_ORIGINS=http://localhost:3000

# Ruta al modelo ML entrenado
ML_MODEL_PATH=../ml/modelos/modelo_composta.joblib
